@using GridMvc.Html;
@using Newtonsoft.Json;
@model IEnumerable<csharp_web.Models.Articulos>

@{ ViewBag.Title = "Catálogo de Articulos"; }


<div class="container ">
    <div class="row">
        <div class="col-12">
            <p>Catálogo de Articulos</p>
        </div>
        <div class="col-12">
            <partial id="partialGridViewId">
                @Html.Partial("_GridView", Model)
            </partial>
        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <partial id="updateModalPartialId">
                    @Html.Partial("UpdateModal", new csharp_web.Models.Articulos())
                </partial>
            </div>
        </div>
    </div>
</div>
    <script>
        async function editArticulo(artId) {
            await fetch('/Articulo/ShowArticulo?' + new URLSearchParams({
                articuloId: artId
            }), {
                method: "GET",
                headers: {
                    'Content-Type': 'application/html'
                }
            }).then(res => res.text())
                .then(res => {
                    $('#updateModalPartialId').html(res);   
                    $('#btnModalSubmitNew').hide();
                    $('#myModal').modal('show');
                }).catch(err => {
                    console.log(err);
                    })
        }

        async function newArticulo() {
            $('#myModalLabel')[0].textContent = 'Agregar Articulo';
            $('#btnModalSubmitUpdate').hide();
            $('#btnModalSubmitNew').show();
            $('#updateModalForm_ArticuloFieldID')[0].value = '';
            $('#updateModalForm_descripcionFieldId')[0].value = '';
            $('#myModal').modal('show');
        }


        async function refreshGrid() {
            await fetch('/Articulo/partialGridView', {
                method: "GET",
                headers: {
                    'Content-Type': 'application/html'
                }
            }).then(res => res.text())
                .then(res => {
                    $('#partialGridViewId').html(res);
                }).catch(err => {
                    console.log(err);
                })
        }

        async function saveUpdate(objArticulo) {

            const articuloField = document.getElementById('updateModalForm_ArticuloFieldID');
            const descField = document.getElementById('updateModalForm_descripcionFieldId');

            if (!articuloField || !descField) {
                alert("Faltan campos obligatorios");
            } else {

                let newArticulo = {
                    articulo: articuloField.value,
                    descripcion: descField.value,
                }

                await fetch('http://localhost:5002/api/articulos/' + objArticulo.articulo, {
                    method: 'PUT',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify(modArticulo)
                })
                    .then(res => {
                        refreshGrid();
                    }).catch(err => {
                        console.log(err);
                    });
            }
        }

        async function saveNew() {
            const articuloField = document.getElementById('updateModalForm_ArticuloFieldID');
            const descField = document.getElementById('updateModalForm_descripcionFieldId');

            if (!articuloField || !descField) {
                alert("Faltan campos obligatorios");
            } else {

                let newArticulo = {
                    articulo: articuloField.value,
                    descripcion: descField.value,
                }

                console.log(newArticulo);

                await fetch('http://localhost:5002/api/articulos', {
                    method: 'POST',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify(newArticulo)
                })
                    .then(res => {
                       // refreshGrid();
                        let myModal = $('#myModal');
                        myModal.modal('hide')
                    }).catch(err => {
                        console.log(err);
                    });
            }
        }
</script>


